@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(145deg, rgb(251, 165, 116) 0.00%, rgb(212, 196, 175) 44.42%,
    rgb(158, 239, 255) 100.00%);
}

.logo{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 25vh;
    z-index: 2;
}

header{
    height: 107vh;
}

header nav{
    position: absolute;
    background-color: rgba(49, 49, 49, 0.5);
    height: 10vh;
    width: 100%;
    z-index: 1;
}

ul{
    width: 23%;
    display: flex;
    position: relative;
    left: 60%;
    top: 3.5vh;
}

ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    z-index: 2;
    padding-left: 20px;
}

ul li a{
    color: #ffffff;
}

nav button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 5vh;
    width: 20vh;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 7px;
    position: relative;
    bottom: 1vh;
    left: 20px;    
}

nav button a{
    color: #ffffff;
}

header img{
    position: relative;
    top: -5vh;
    width: 100%;
    z-index: 0;
}

header .title{
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: 75px;
    position: relative;
    bottom: 60vh;
    left: 100vh;
    width: 70vh;
    z-index: 1;
}

.about{
    position: relative;
    bottom: 1.3vh;
    height: 66.6vh;
}

.about p{
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    position: relative;
    left: 120vh;
    top: 12vh;
    width: 90vh;
}

.about img{
    position: relative;
    bottom: 35.1vh;
    width: 99.9vh;
}

.benefits h2{
    text-align: center;
    width: 30vh;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 6vh;
    position: relative;
    top: 3vh;
    left: 95vh;
}

.benefits p{
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 3vh;
    left: 28vh;
    width: 165vh;
    height: 7vh;
}

.customization h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 45vh;
    top: 6vh;
    width: 35vh;
}

.customization p{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 36vh;
    top: 6vh;
    width: 60vh;
}

.conversion{
    height: 10vh;
}

.conversion h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 20vh;
    left: 124vh;
    width: 50vh;
}

.conversion p{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 20vh;
    left: 125vh;
    width: 45vh;
}

.flexibility h3{
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 5vh;
    width: 30vh;
    position: relative;
    left: 95vh;
}

.flexibility p{
    text-align: center;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    width: 50vh;
    position: relative;
    left: 84vh;
}

.action{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 32vh;
    width: 150vh;
}

.btn-yes button{
    position: relative;
    left: 67vh;
    width: 80vh;
    height: 10vh;
    margin: 2vh;
    border-radius: 10px;
    border: 1px solid #0f79ba;
    background-color: #0f79ba;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.btn-no button{
    position: relative;
    left: 67vh;
    width: 80vh;
    height: 5vh;
    margin: 2vh;
    color: #0f79ba;
    border: 2px solid #0f79ba;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.btn-yes a{
    color: #ffffff;
}

.btn-no a{
    color: #000000;
}

footer p{
    color: #ffffff;
    width: 35vh;
    position: relative;
    top: 8vh;
    left: 20vh;
}

footer nav{
    height: 10vh;
    background-color: #212529;
}

footer ul{
    width: 15vh;
}

@media screen and (max-width: 768px){
    .intro p{
        width: 500px;
    }
}
